.login-container{
    width: 100vw;
    height: 95vh;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    z-index: -1;
    background: linear-gradient(
            #326647,
            #cdeba7
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    z-index: -1;
    background: linear-gradient(
            to right,
            #326647,
            #cdeba7
    );
    right: -30px;
    bottom: -80px;
}
.login-form{
    height: 60%;
    width: 30%;
    background-color: rgba(255,255,255,0.13);
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(0,100,0,0.6);
    padding: 50px 35px;
}
.login-form *{
    font-family: 'Poppins',sans-serif;
    /*color: #ffffff;*/
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    /*margin: 4% 10%;*/
}

.logo-login{
    border: 3px solid;
    padding: 10px;
    font-weight: 600;
    color: black;
    text-align: center;
    width: 120px;
    margin: auto;
}
.logo-login div{
    color: black;
    font-weight: bold;

}


.login-with {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: black;
    font-weight: 500;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    font-size: 1.2rem;
}
.login-with *{
    margin: 2px 15px;
}












